
<div class="container">

  <div>
    <!-- {{ newTask.title | json }}
    {{ newTask.description | json }} -->
    <form (submit)="addTask()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" 
          [(ngModel)]="newTask.title">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="desc" id="" cols="30" rows="3" class="form-control" 
          [(ngModel)]="newTask.description">          
        </textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
  </div>

  <h1> {{ pageTitle }} </h1>
  <button class="btn btn-success" (click)="getAllTasks()">Get All</button>
  
  <h4 *ngIf="tasks.length > 0">{{ title }}</h4>

  <table class="table table-striped table-bordered table-sm">
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>
          {{ task.title }}
        </td>
        <td>
          <button (click)="getTaskDetail([task._id])" class="btn btn-light">SHOW</button>
          <button (click)="getTaskUpdateForm([task._id])" class="btn btn-light">EDIT</button>
          <button (click)="deleteTask([task._id])" class="btn btn-light">DELETE</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="task.length > 0">
    <h4>{{ taskTitle }}</h4>
    <p>{{ task[0].title }}</p>
    <p>{{ task[0].description }}</p>
  </div>

  <div *ngIf="updateTaskData.length > 0">
    {{ updateTask.title | json }}
    <form (submit)="updateTaskInfo()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" 
          [(ngModel)]="updateTask.title">
      </div>
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="desc" id="" cols="30" rows="3" class="form-control" 
          [(ngModel)]="updateTask.description">          
        </textarea>
      </div>
      <button class="btn btn-success">Update</button>
    </form>
  </div>
  
</div>